<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
                <li>
                    <a href="javascript:;">
                        <i class="iconfont left-nav-li" lay-tips="系统管理"></i>
                        <cite>系统管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i></a>
                    <ul class="sub-menu">
                            <li>
                            <a onclick="xadmin.add_tab('管理员列表','/admin/administrator')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>管理员列表</cite></a>
                            </li>
                        <li>
                            <a onclick="xadmin.add_tab('系统日志','/admin/syslog')">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>系统日志</cite></a>
                        </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>