<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" action="/admin/order" method="get" >
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始日期" name="start_time" id="start" value="{{.start_time}}">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="截止日期" name="end_time" id="end" value="{{.end_time}}">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="phone"  placeholder="请输入用户名手机号" autocomplete="off" value="{{.phone}}" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="goods_id"  placeholder="请输入商品ID" autocomplete="off" value="{{.goods_id}}" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户手机号</th>
                            <th>商品ID</th>
                            <th>创建时间</th>
                        </thead>
                        <tbody>
                        {{range .list}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.Phone}}</td>
                            <td>{{.GoodsId}}</td>
                            <td>{{date .CreatedTime "Y-m-d H:i:s"}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    {{str2html .paginator}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['laydate'], function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start', //指定元素
            type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end', //指定元素
            type: 'datetime'
        });
    })
</script>
