<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">
                        <h3>欢迎您，现在的时间是</h3>
                        <div id="times" class="x-red"></div>

                    </blockquote>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>商品名</th>
                            <th>价格</th>
                            <th>数量</th>

                            <th>秒杀开始时间</th>
                            <th>秒杀截止时间</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        {{range .list}}
                        <tr>

                            <td>{{.GoodsName}}</td>
                            <td>{{.GoodsPrice}}</td>
                            <td>{{.GoodsNumber}}</td>

                            <td>{{date .StartTime "Y-m-d H:i:s"}}</td>
                            <td>{{date .EndTime "Y-m-d H:i:s"}}</td>
                            <!--    开关风格-->
                            <td class="td-manage">
                                <button id="goods_page" class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('抢购页面','/seckill/goods_page/{{.Id}}',600,500)" ><i class="layui-icon">&#xe642;</i>开始抢购</button>
                            </td>
<!--                            xadmin.open('抢购页面','/seckill/goods_page/{{.Id}}',600,500)-->
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    {{str2html .paginator}}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //得到时间并写入div
   function getDate(){
            //获取当前时间
            var date = new Date();
            //格式化为本地时间格式
           var date1 = date.toString() ;
          //获取div
           var div1 = document.getElementById("times");
          //将时间写入div
             div1.innerHTML = date1;
        }
  //使用定时器每秒向div写入当前时间
    setInterval("getDate()",1000);
 </script>
