<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="start_time" class="layui-form-label">
                    <span class="x-red">*</span>秒杀开始时间
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input"  autocomplete="off"  name="start_time" id="start_time" required="" lay-verify="required" value="{{.start_time}}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    精确到秒
                </div>
            </div>
            <div class="layui-form-item">
                <label for="end_time" class="layui-form-label">
                    <span class="x-red">*</span>秒杀截止时间
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input"  autocomplete="off"  name="end_time" id="end_time" required="" lay-verify="required" value="{{.end_time}}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    精确到秒，且需大于开始时间
                </div>
            </div>
            <div class="layui-form-item">
                <label for="goods_name" class="layui-form-label">
                    <span class="x-red">*</span>商品名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="goods_name" name="goods_name" required="" lay-verify="required" value="{{.goods.GoodsName}}"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    不能含有特殊字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="goods_price" class="layui-form-label">
                    <span class="x-red">*</span>商品价格
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="goods_price" name="goods_price" required="" lay-verify="required" value="{{.goods.GoodsPrice}}"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    非负浮点数
                </div>
            </div>
            <div class="layui-form-item">
                <label for="goods_number" class="layui-form-label">
                    <span class="x-red">*</span>商品数量
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="goods_number" name="goods_number" required="" lay-verify="required" value="{{.goods.GoodsNumber}}"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    非负整数
                </div>
            </div>

            <div class="layui-form-item">
                <label for="end_time" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="update" lay-submit="">
                    更新
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer','laydate'],
    function() {
        $ = layui.jquery;
        var laydate = layui.laydate;
        var form = layui.form,
            layer = layui.layer;
        //执行一个laydate实例
        laydate.render({
            elem: '#start_time', //指定元素
            type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end_time', //指定元素
            type: 'datetime'
        });
        //自定义验证规则
        form.verify({

        });
        //监听提交
        form.on('submit(update)',
            function(data) {
                // console.log(data)
                request_post("/admin/goods/update/{{.goods.Id}}",data.field).then(function (data) {
                    layer.alert("修改成功", {
                            icon: 6
                        },
                        function() {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                },function (error) {
                    msg_error(error.msg)
                })
                return false;
            });

    });</script>